<input type="text" class="form-control" placeholder="Search...">
<table class="table table-striped table-bordered table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Opened Quantity</th>
            <th scope="col">Unopened Quantity</th>
            <th scope="col">Expiry Dates</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Chicken Breast Chunks</th>
            <td>0</td>
            <td>3</td>
            <td>Mar 31st</td>
        </tr>
        <tr>
            <th scope="row">Parmigiano Reggiano</th>
            <td>0</td>
            <td>2</td>
            <td>Apr 2021</td>
        </tr>
        <tr>
            <th scope="row">Waitrose Linguine</th>
            <td>0</td>
            <td>2</td>
            <td>Sept 2020</td>
        </tr>
    </tbody>
</table>